@import "bootstrap-sprockets";
/*@import "bootstrap-responsive";*/
@import "bootstrap";

@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,100,300,500";

$primary-font: 'Roboto', sans-serif;

$primary-color: #1976D2;
$secondary-color: #0FCC47;
$primary-dark: #2b2b2b;
$secondary-dark: #666;

body {
	font-family: $primary-font;
	font-size: 16px;
}


#header {
	position: relative;
	height: 470px;
	background: url("/images/bg_top.jpg") top center no-repeat $primary-color;
	background-size: cover;

	.row {
		position: relative;
		height: 470px;
	}

	.top-left {
		@extend .col-md-5;
		padding-top: 40px;
	}

	.top-right {
		@extend .col-md-7;
		position: absolute !important;
		bottom: 0;
		right: 0;
		vertical-align: bottom;
		text-align: center;

		a, img {
			position: relative;
			vertical-align: bottom;
		}
	}

	h1 {
		color: white;
		font-weight: 100;
		font-size: 50px;
		/*@include adjust-font-size-to(50px);*/
	}

	h2 {
		color: #4ED1E9;
		font-weight: 100;
		font-size: 20px;
		margin-bottom: 30px;
	}
}

#features {
	background-color: $secondary-color;
	padding-top: 40px;
	padding-bottom: 40px;

	.feature-box {
		@extend .col-md-4;

		h2 {
			display: block;
			text-align: center;
			color: #0A6E28;
			font-size: 64px;
		}

		p {
			display: block;
			text-align: center;
			color: white;
		}
	}

}

#footer {
	text-align: center;

	.partners {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h1 {
		font-weight: 100;
		color: $secondary-dark;
		margin-bottom: 20px;
	}
}

.developer {
	background-color: #f0f0f0;
	text-align: center;
	padding: 10px 0;

	small {
		font-size: 10px;
		color: $secondary-dark;

		a {
			color: $secondary-color;
		}
	}
}



