---
title: Segurança para sua família
---

<div id="header">
	
	<div class="container">
		
		<div class="row">
			
			<div class="top-left">
				<a href="http://heere.co"><img src="images/logo.png" alt="Heere." srcset="images/logo.png 1x, images/logo@2x.png 2x"></a>

				<h1>Segurança para sua família</h1>
				<h2>Conecte o Heere em seu automóvel com a tecnologia SYNC e mantenha os olhos em sua família em tempo real</h2>

				<a href="#"><img src="images/app_playstore.png" alt="Baixe o aplicativo para Android" srcset="images/app_playstore.png 1x, images/app_playstore@2x.png 2x"></a>
			</div>

		</div>

	</div>

</div>